<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>DODF - Busca</title>

		<link rel="stylesheet" href="/static/home.css" type="text/css" />
		<script src="/static/home/index.js" type="module"></script>
	</head>

	<body>
		<h1 class="title">Busca</h1>

		<div class="form-container">
			<form onsubmit="app.onFormSubmit(event.target, event)">
				<div class="form-inner">
					<div class="input-group">
						<label>Termo</label>
						<input type="text" name="termo" placeholder="Termo" value="contrato" />
					</div>
					<div class="input-group">
						<label>Data inicial</label>
						<input type="text" name="dtInicial" placeholder="Data inicial - ex.: dd/mm/yyyy" value="13/04/2021" />
					</div>
					<div class="input-group">
						<label>Data final</label>
						<input type="text" name="dtFinal" placeholder="Data final - ex.: dd/mm/yyyy" value="14/04/2021" />
					</div>
					<div class="input-group">
						<button type="submit" class="btn-submit">Pesquisar</button>
					</div>
				</div>
			</form>
		</div>

		<div class="data-container"></div>

	</body>
</html>