<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>DODF - Análise</title>

		<link rel="stylesheet" href="/static/css/header.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/post.css" type="text/css" />
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<script src="/static/js/post/index.js" type="module"></script>
	</head>
	<body>
		<div class="header">
			<div class="header-inner">
				<a href="/">Busca</a>
				<a href="/post">Analisar Publicação</a>
			</div>
		</div>

		<div class="container-header">
			<div>
				<h1 class="title">Analisar publicação</h1>
			</div>
			<div>
				<div class="form-container">
					<form id="post_form">
                        <div class="input-group">
                            <label>Publicação</label>
                            <textarea name="texto" placeholder="Termo" rows="7" required>Processo: 00112-00036438/2019-12. ESPÉCIE: CONTRATO DE AQUISIÇÃO DE BENS D.U Nº 034/2021 - DJ/NOVACAP. CONTRATANTES: NOVACAP e SARKIS MINERAÇÃO LTDA. DO OBJETO: Contratação de empresa para o fornecimento de 24.000 toneladas do Lote 01 e 6.000 toneladas do Lote 02 de pó de pedra. LOTES: 01 e 02. VALOR: R$ 1.290.000,00. PRAZO: 12 meses. RECURSOS: Nota de Empenho: 2021NE00710, no valor de R$ 200.000,00, Programa de Trabalho: 15.452.6209.8508.0002, Natureza da Despesa: 33.90.30, Fonte de Recurso: 100. DATA DA ASSINATURA: 09/04/2021. PELA NOVACAP: Fernando Rodrigues Ferreira Leite e Sérgio Antunes Lemos. PELA CONTRATADA: Vitor Junqueira Sarkis.</textarea>
                        </div>
					</form>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="sentences-content"></div>
            <div class="fields-content"></div>
		</div>
	</body>
</html>