html, body {
    font-size: 16px;
}

h1.title {
    margin-left: 1em;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: -2px;
}
.right {
    transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
}


.form-container {
    padding: 1em 2em;
}
.form-inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

.input-group {
    margin-bottom: 2em;
    flex: 1;
    margin-right: 1em;
}
.input-group label {
    font-size: .9em;
    margin-bottom: .5em;
    display: block;
}
.input-group input {
    font-size: 1.2em;
    width: 150px;
}

.btn-submit {
    margin-top: 1.2em;
    font-size: 1.2em;
    cursor: pointer;
}
.btn-submit[disabled] {
    cursor: default;
}


.data-container {
    position: relative;
    margin: 0 2em;
}
.data-container.hided {
    visibility: hidden;
}
.document-container {
    position: relative;
    padding: 1em;
    margin: 2em 0;
    background: #ccc;
}
.document-title .highlight,
.document-content .highlight {
    background: white;
    border-radius: 3px;
}

.document-sentences {
    padding: 1em 0;
}
.document-sentences > button {
    margin-left: .5em;
}
.document-sentences > button:not(:disabled) {
    cursor: pointer;
}
.document-sentences > button.active {
    background: white;
    border-color: transparent;
}
.document-sentences > button:first-child {
    margin-left: 0;
}
.document-sentences > ul {
    background: #f9f9f9;
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: 1.5em;
    display: none;
}
.document-sentences > ul.active {
    display: block;
}
.document-sentences > ul[data-list="fields"] {
    padding-top: 1.3em;
    padding-bottom: .5em;
}
.document-sentences > ul[data-list="fields"] > li {
    margin-bottom: 1em;
}
.document-sentences > ul[data-list="fields"] > li > span {
    border-radius: 5px;
    padding: .2em;
    background: #ccc;
    margin-bottom: .8em;
    display: inline-block;
}
.document-sentences > ul[data-list="fields"] li[data-field="notaEmpenho"] li {
    margin-bottom: .8em;
}
.document-sentences > ul[data-list="fields"] li[data-field="signatarios"] li {
    margin: .5em 0;
}
.document-sentences > ul[data-list="fields"] li[data-field="signatarios"] > span {
    margin-bottom: .3em;
}
.document-sentences > ul[data-list="fields"] li[data-field="envolvidos"] li {
    margin: .8em 0;
}
.document-sentences > ul[data-list="fields"] li[data-field="envolvidos"] > span {
    margin-bottom: 0;
}
.document-sentences > ul[data-list="fields"] li[data-field="vigencia"] li {
    margin: .8em 0;
}
.document-sentences > ul[data-list="fields"] li[data-field="vigencia"] > span {
    margin-bottom: 0;
}
.document-sentences > ul[data-list="fields"] li[data-field="adicionais"] li {
    margin: .8em 0;
}
.document-sentences > ul[data-list="fields"] li[data-field="adicionais"] > span {
    margin-bottom: 0;
}
.document-sentences-field-list > li:first-child {
    margin-bottom: .5em;
}
.document-sentences-field-list > li:first-child > span {
    border-radius: 5px;
    padding: .2em;
    background: #ccc;
}
.document-sentences-field-list > li:last-child > span {
    font-weight: 'bold';
}
.data-container-list > .document-container:first-child {
    margin-top: 0;
}
.total-container {
    line-height: 1.8em;
}
.total-container > span {
    font-weight: bold;
    vertical-align: bottom;
}


.controls-container {
    display: flex;
    margin-bottom: .5em;
}
.controls-container > div:first-child {
    flex: 1
}
.controls-container[data-total="0"] > div:first-child {
    display: none;
}
.controls-container[data-total="0"] > div:last-child {
    flex: 1;
    text-align: center;
}

.field-filter {
    position: relative;
    overflow: visible;
}
.field-filter > .filter-label {
    cursor: pointer;
    padding: .3em .5em;
    background-color: #efefef;
    border-radius: 3px;
    border: 1px solid #767676;
    display: inline-block;
}
.field-filter > .filter-label:hover {
    background-color: #e5e5e5;
}
.field-filter > .filter-label > span {
    margin-right: .5em;
}
.field-filter > .options-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: white;
    transform: translateY(5px);
    border-radius: 3px;
    border: 1px solid #767676;
}
.field-filter.expand > .options-container {
    display: inline-block;
}
.field-filter.expand > .filter-label > i {
    transform: rotate(-135deg);
    top: 1px;
}
.field-filter .list > div,
.field-filter .controls > div {
    display: block;
    padding: .3em;
    cursor: pointer;
}
.field-filter .list > div:hover,
.field-filter .controls > div:hover {
    background-color: #efefef;
}
.field-filter .list > div > input,
.field-filter .controls > div > input {
    margin-right: .8em;
}

.field-filter .controls {
    border-top: 1px #ccc solid;
    padding-top: .5em;
    padding-bottom: .5em;
}